<mat-toolbar color="primary">
  <mat-form-field class="search-field"
    appearance="fill">
    <mat-label>Search Github Repositories</mat-label>
    <input #search
      type="text"
      aria-label="Search Repositories"
      matInput
      [matAutocomplete]="auto"
      [formControl]="searchControl">
    <mat-autocomplete autoActiveFirstOption
      [displayWith]="displayFn"
      #auto="matAutocomplete">
      <mat-option *ngFor="let suggestion of searchSuggestions$ | async; trackBy: trackSearchSuggestions;"
        [value]="suggestion"
        (onSelectionChange)="onSearchSuggestionSelected(suggestion)">
        {{suggestion.full_name}}
      </mat-option>
    </mat-autocomplete>
    <mat-progress-spinner matSuffix
      color="accent"
      mode="indeterminate"
      [diameter]="20"
      *ngIf="loadingResults$ | async">
    </mat-progress-spinner>
    <button class="clear-search-input-button"
      mat-icon-button
      matSuffix
      (click)="search.value = ''; selectedRepository$.next(null);"
      *ngIf="search.value.trim() && !(loadingResults$ | async)">
      <mat-icon>{{'close'}}</mat-icon>
    </button>
  </mat-form-field>
</mat-toolbar>
<ng-container *ngIf="selectedRepository$ | async; let repo;">
  <mat-card class="repository">
    <mat-card-title>Repository details</mat-card-title>
    <div class="url"><mat-icon>link</mat-icon>URL: <a [href]="repo.html_url"
        [target]="repo.html_url">{{repo.html_url}}</a></div>
    <div class="description"><mat-icon>description</mat-icon>Description: {{repo.description}}</div>
    <div class="forks-count"><mat-icon>north_east</mat-icon>Forks count: {{repo.forks_count}}</div>
    <div class="stargazer-count"><mat-icon>star</mat-icon>Stargazers count: {{repo.stargazers_count}}</div>
    <div class="open-issues-count"><mat-icon>bug_report</mat-icon>Open Issues count: {{repo.open_issues_count}}</div>
  </mat-card>
  <mat-card class="issues"
    *ngIf="selectedRepoIssuesFiltered$ | async; let issues;">
    <mat-card-title class="issues-header">
      <div class="issues-title">Issues</div>
      <mat-button-toggle-group class="issues-filter" name="fontStyle"
        aria-label="Font Style"
        (change)="issueType$.next($event.value)"
        [value]="issueType$ | async">
        <mat-button-toggle value="all">All issues</mat-button-toggle>
        <mat-button-toggle value="open">Open issues</mat-button-toggle>
        <mat-button-toggle value="closed">Closed issues</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="issues-chart">
        <canvas #pieChart></canvas>
      </div>
    </mat-card-title>
    <div *ngIf="!issues.length">There are no issues for this repository</div>
    <div *ngFor="let issue of issues;">
      <div class="issue">
        <mat-icon>{{issue.state === 'open' ? 'bug_report' : 'done'}}</mat-icon>{{issue.title}}
      </div>
    </div>
    <div class="loader"
      *ngIf="loadingRepo$ | async">
      <mat-progress-spinner color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </mat-card>
</ng-container>
<h2 class="no-repository-selected"
  *ngIf="!(selectedRepository$ | async) && !search.value.trim().length">
  Please enter in the name of a Github repository
</h2>